.App{
  min-height: 100vh;
  background: rgb(169,134,190);
  background: radial-gradient(circle, rgba(169,134,190,1) 0%, rgba(198,247,247,0.9416141456582633) 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: lightpink;
  border: none;
  padding: 10px, 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

